@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.left-home-content{
     
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    gap: 3rem;

}
@keyframes glow {
  
  }
  
.title-site{
    font-size: 4rem;
    font-family: 'Montserrat';
    color: #D4F290;
    text-align: center;
   
 
}



.entry-content{
font-size: 2rem;
font-family: 'Montserrat';
color: white;
text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}
.avatar{
    width: 30vw;
    
    filter: drop-shadow(12px 12px 7px rgba(127, 7, 7, 0.5));
    border: 0.11rem solid #fff;


    
}
.background-blue{
    position: absolute;
    height: 121.9vh;
    width: 118vh;
    left: 0;
    top: -7rem;
    background-color: #4532CC;
    z-index: -1;
}
.background-green{
    position: absolute;
    height: 121.9vh;
    width: 140vh;
    right: 0;
    top: -7rem;
    background-color: #D4F290;
    z-index: -5;


}
.front-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid-div{
    position: relative;
}
