.bottom-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    background-color: #D4F290;
    z-index: 100000;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;


}

.icons {
    min-height: 1.5rem;
    min-width: 1.5rem;
    fill: #4532CC;
    cursor: pointer;


}

.icons:hover {
    fill: white;


}

.bottom-navbar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    font-size: 1rem;


}


.icons+.hover-text {
    color: #4532CC;
}