.bottom-navbar{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    background-color: #D4F290;
    z-index: 100000;
    width: 100vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    

}
.icons{
    min-height: 2.5rem;
    min-width: 2.5rem;
    fill: #4532CC;
    cursor: pointer;
}
.icons:hover{
    fill:white;

}
.hover-text{
    display: none;
}
.icons:hover + .hover-text{
    display: block;
    color: #4532CC;
    text-align: center;
    position: absolute;
}